[submodule "external/gemini-cli"]
	path = external/gemini-cli
	url = https://github.com/google-gemini/gemini-cli
[submodule "external/claude-code"]
	path = external/claude-code
	url = https://github.com/anthropics/claude-code
[submodule "external/openclaw"]
	path = external/openclaw
	url = https://github.com/openclaw/openclaw
[submodule "external/shannon"]
	path = external/shannon
	url = https://github.com/KeygraphHQ/shannon
[submodule "external/PowerTools"]
	path = external/PowerTools
	url = https://github.com/kevinhamza/PowerTools
[submodule "external/Responder"]
	path = external/Responder
	url = https://github.com/kevinhamza/Responder
[submodule "external/hackability"]
	path = external/hackability
	url = https://github.com/PortSwigger/hackability
[submodule "external/AIA"]
	path = external/AIA
	url = https://github.com/kevinhamza/AIA
[submodule "external/moltbots.github.io"]
	path = external/moltbots.github.io
	url = https://github.com/kevinhamza/moltbots.github.io
[submodule "external/vulnerability-analysis"]
	path = external/vulnerability-analysis
	url = https://github.com/kevinhamza/vulnerability-analysis
[submodule "external/airgorah"]
	path = external/airgorah
	url = https://github.com/martin-olivier/airgorah
[submodule "external/metasploit-framework"]
	path = external/metasploit-framework
	url = https://github.com/rapid7/metasploit-framework
[submodule "external/nishang"]
	path = external/nishang
	url = https://github.com/kevinhamza/nishang
[submodule "external/Devin"]
	path = external/Devin
	url = https://github.com/kevinhamza/Devin
[submodule "external/Devin-2.0"]
	path = external/Devin-2.0
	url = https://github.com/kevinhamza/Devin-2.0
[submodule "external/Devin-3.0"]
	path = external/Devin-3.0
	url = https://github.com/kevinhamza/Devin-3.0
[submodule "external/Holomat"]
	path = external/Holomat
	url = https://github.com/Concept-Bytes/Holomat.git
[submodule "external/JARVIS-microsoft"]
	path = external/JARVIS-microsoft
	url = https://github.com/microsoft/JARVIS.git
[submodule "external/Jarvis"]
	path = external/Jarvis
	url = https://github.com/Concept-Bytes/Jarvis.git
[submodule "external/OpenDevin"]
	path = external/OpenDevin
	url = https://github.com/All-Hands-AI/OpenHands.git
[submodule "external/cheetahclaws"]
	path = external/cheetahclaws
	url = https://github.com/SafeRL-Lab/cheetahclaws.git
[submodule "external/hexstrike-ai"]
	path = external/hexstrike-ai
	url = https://github.com/0x4m4/hexstrike-ai.git
[submodule "external/self-operating-computer"]
	path = external/self-operating-computer
	url = https://github.com/OthersideAI/self-operating-computer.git
[submodule "external/claude-code-source"]
	path = external/claude-code-source
	url = https://github.com/chauncygu/collection-claude-code-source-code.git
