####################### Intel APIs #######################

set $serpapi_upstream https://serpapi.com;

location /serpapi {
   rewrite ^\/serpapi(\/.*)$ $1 break;
   proxy_pass $serpapi_upstream;
   proxy_cache intel_cache;
   proxy_cache_methods GET;
   proxy_cache_key "$request_method|$request_uri";
   add_header X-Cache-Status $upstream_cache_status;
   client_body_buffer_size 4m;
}

set $nvd_upstream https://services.nvd.nist.gov;

location /nvd {
   rewrite ^\/nvd(\/.*)$ /rest$1 break;
   proxy_pass $nvd_upstream;
   proxy_cache intel_cache;
   proxy_cache_methods GET;
   proxy_cache_key "$request_method|$request_uri";
   add_header X-Cache-Status $upstream_cache_status;
   client_body_buffer_size 4m;
}

set $cve_details_upstream https://www.cvedetails.com;

location /cve-details {
   rewrite ^\/cve-details(\/.*)$ $1 break;
   proxy_pass $cve_details_upstream;
   proxy_cache intel_cache;
   proxy_cache_methods GET;
   proxy_cache_key "$request_method|$request_uri";
   add_header X-Cache-Status $upstream_cache_status;
   client_body_buffer_size 4m;
}

set $cwe_details_upstream https://cwe.mitre.org;

location /cwe-details {
   rewrite ^\/cwe-details(\/.*)$ $1 break;
   proxy_pass $cwe_details_upstream;
   proxy_cache intel_cache;
   proxy_cache_methods GET;
   proxy_cache_key "$request_method|$request_uri";
   add_header X-Cache-Status $upstream_cache_status;
   client_body_buffer_size 4m;

   error_page 301 302 307 = @handle_redirects;
}

set $epss_upstream https://api.first.org;

location /first {
   rewrite ^\/first(\/.*)$ /data/v1$1 break;
   proxy_pass $epss_upstream;
   proxy_cache intel_cache;
   proxy_cache_methods GET;
   proxy_cache_key "$request_method|$request_uri";
   add_header X-Cache-Status $upstream_cache_status;
   client_body_buffer_size 4m;
}

set $recf_upstream https://api.recordedfuture.com;

location /recf {
   rewrite ^\/recf(\/.*)$ /v2$1 break;
   proxy_pass $recf_upstream;
   proxy_cache intel_cache;
   proxy_cache_methods GET;
   proxy_cache_key "$request_method|$request_uri";
   add_header X-Cache-Status $upstream_cache_status;
   client_body_buffer_size 4m;
}

set $ghsa_upstream https://api.github.com;

location /ghsa {
   rewrite ^\/ghsa(\/.*)$ $1 break;
   proxy_pass $ghsa_upstream;
   proxy_cache intel_cache;
   proxy_cache_methods GET;
   proxy_cache_key "$request_method|$request_uri";
   add_header X-Cache-Status $upstream_cache_status;
   client_body_buffer_size 4m;
}

set $rhsa_upstream https://access.redhat.com;

location /rhsa {
   rewrite ^\/rhsa(\/.*)$ /hydra/rest$1 break;
   proxy_pass $rhsa_upstream;
   proxy_cache intel_cache;
   proxy_cache_methods GET;
   proxy_cache_key "$request_method|$request_uri";
   add_header X-Cache-Status $upstream_cache_status;
   client_body_buffer_size 4m;
}

set $ubuntu_upstream https://ubuntu.com;

location /ubuntu {
   rewrite ^\/ubuntu(\/.*)$ $1 break;
   proxy_pass $ubuntu_upstream;
   proxy_cache intel_cache;
   proxy_cache_methods GET;
   proxy_cache_key "$request_method|$request_uri";
   add_header X-Cache-Status $upstream_cache_status;
   client_body_buffer_size 4m;
}

set $depsdev_upstream https://api.deps.dev;

location /depsdev {
   rewrite ^\/depsdev(\/.*)$ $1 break;
   proxy_pass $depsdev_upstream;
   proxy_cache intel_cache;
   proxy_cache_methods GET;
   proxy_cache_key "$request_method|$request_uri";
   add_header X-Cache-Status $upstream_cache_status;
   client_body_buffer_size 4m;
}
